.header{
  width: 100%;
  height: 70px;
  background-color: #212121;
  color: #fafafa;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.nav{
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand{
  font-size: 1.3em;
  cursor: pointer;
  font-family: 'DM Serif Display', serif;
  letter-spacing: 0.08em;
}

.navLinks{
  display: flex;
  flex-direction: column;
  background-color: #212121;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  padding: 1em;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transform: translateY(10);

}

.navItem{
  margin: 10px;
  cursor: pointer;
  letter-spacing: .06em;
}

.active{
  color: var(--textGold);
}

.barsBtn{
  padding: .5em;
  position: absolute;
  right: 1.4em;
  border-radius: 5px;
  border: 1px solid #fafafa;
  background-color: transparent;
  color: #fafafa;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.visible{
  visibility: visible;
}

.hidden{
  visibility: hidden;
}

@media screen and (min-width: 768px){
  .nav{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .navLinks{
    flex-direction: row;
    background-color: #212121;
    width: initial;
    position: static;
    padding: 0;
    justify-content: center;
    align-items: center;
    visibility: visible;
  }

  .navItem{
    margin: 0;
    margin-left: 1.5em;
  }

  .barsBtn{
    display: none;
  }
}