@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

.section{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin: 1em 0;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 4em 2em;
  box-shadow: rgba(50, 50, 93, 0.25) -1px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #fafafa;
  text-align: center;
}

.iconWrapper{
  background-color: #eae8e8;
  width: auto;
  padding: .5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.separator{
  min-width: 100px;
  margin: .8em 0;
  background-color: var(--textGold);
  border: none;
  border-radius: 3px;
  height: 7px;
}

.cardTitle{
  font-family: 'DM Serif Display', serif;
  letter-spacing: 0.025em;
  color: #212121;
}

.cardText{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  margin-top: 10px;
}

@media screen and (min-width: 768px){
  .section{
    grid-template-columns: 1fr 1fr 1fr;
  }
}