.wrapper{
  width: 100%;
  padding: 2em 0;
  color: #212121;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flex{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.header{
  max-width: 80ch;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainTitle{
  font-family: 'DM Serif Display', serif;
  letter-spacing: 0.025em;
  color: #212121;
  font-size: 2em;
  text-align: center;
}

.text{
  font-size: 1.2em;
  margin: 10px 0;
  font-family: 'Open Sans', sans-serif;
  color: #212121;
}

.separator{
  width: 100%;
  max-width: 90ch;
  border: none;
  height: 2px;
  background-color: #c1c1c1;
  margin: 20px auto;
}

.imageWrapper{
  width: 100%;
}

@media screen and (min-width: 660px){
  .flex{
    flex-direction: row;
    justify-content: space-between;
    padding: 3em;
  }

  .imageWrapper{
    width: 50%;
  }

  .textWrapper{
    width: 50%;
  }
}